body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 15px;
    background: #FBEFF5;
}

/* スマホ */

@media screen and (min-width:340px){
    .container{
        width: 340px;
    }
}

/* タブレット */
@media screen and (min-width:768px){
    .container{
        width: 750px;
    }
}

/* pc */
@media screen and (min-width:992px){
    .container{
        width: 970px;
    }
}

/* pc */
@media screen and (min-width:1200px){
    .container{
        width: 1170px;
    }
}

body.login-b {
    padding-top: 70px;
    background: #99CCFF;
}
.login-icon-box img {
    /*width: 96px;*/
}
.login-form {
    background-color: #99CCFF;
}

.navbar-inverse{
    background-color: #99CCFF;
}

/*リストのクリックできる範囲を広げる*/
li.list-group-item a{
    display: block;
}

/*テーブル周りレイアウト*/
th { white-space: nowrap; }
td i {
    margin-left: 3px;
    margin-right: 3px;
}
.tbl-txt-center th {
    text-align: center !important;
}
.tbl-pdg th, .tbl-pdg td {
    padding: 11px !important;
}
.tbl-input-line th {
    padding: 0 !important;
    line-height: 58px !important;
}
.table-bordered{
    border: 2px solid #ccc;
}
/*フッターを一番下に固定*/
html,body {
    height: 100%;
}
h4 {
    font-size: 21px;
}
h5 {
    font-size: 19px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 6px;
}
#wrap {
    width: 100%;
    position: relative;
    min-height: 100%;
}
#contents {
    padding: 0 0 30px;
}
footer {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
}

/*margin*/
.mt3 { margin-top: 3px; }
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt30 { margin-top: 30px; }

.mb3 { margin-bottom: 3px; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }

/*padding*/
.pdg0 { padding: 0; }
.pdg3 { padding: 3px; }
.pdg5 { padding: 5px; }
.pdg10 { padding: 10px; }
.pdg15 { padding: 15px; }
.pdg20 { padding: 20px; }

/*color*/
.color-dpink {
    color: deeppink;
}
.color-w {
    color: #fff;
}
.color-gc {
    color: #ccc;
}

/* センタリング */
.center {
    text-align: center;
}

/* テーブルのセル 幅 */
.wp30 {
    width: 30%;
}
.wp40 {
    width: 40%;
}

/* 画像　高さ */
.h40 {
    height: 40px;
}
.h60 {
    height: 60px;
}
.h80 {
    height: 80px;
}
.h100 {
    height: 100px;
}
.h150 {
    height: 150px;
}
.h200 {
    height: 200px;
}

/* キャンペーン　input　サムネイル表示用 */
.input label {
    width: 200px;
    text-align: center;
    vertical-align: top;
    border: solid 1px silver;
    padding: 5px;
    margin: 3px;
}

.input label.hansha {
    width: 260px;
    text-align: left;
    vertical-align: top;
    border: solid 0px silver;
    padding: 1px;
    margin: 1px;
}

/* confirm サムネイル */
.view table{
    float:left;
    text-align: center;
    border: solid 1px silver;
    width: 200px;
    margin: 5px;
}
.view table td{
    padding: 5px;
}

hr{
    margin-top: 1px;
    margin-bottom: 1px;
}

/* トピックス一覧のレコードの色分け */
.view_reserve{
    background-color: #ffeaea;
}
.view_finish{
    background-color: #fefdb8;
}
.view_check{
    background-color: #bfe7f0;
}